<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="chassis_sub.SLDASM">
  <link
    name="body_link">
    <inertial>
      <origin
        xyz="-0.000889242251136346 0.00065866860454622 0.0252390940732559"
        rpy="0 0 0" />
      <mass
        value="0.482255179604208" />
      <inertia
        ixx="0.000590030011142084"
        ixy="1.74833019226649E-07"
        ixz="1.21790430692212E-05"
        iyy="0.000652273135047948"
        iyz="5.42047268018053E-08"
        izz="0.000968313234449169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis_sub.SLDASM/meshes/body_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis_sub.SLDASM/meshes/body_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="-0.0566586686058532 -0.0032609059332157 -0.0749107577470988"
        rpy="0 0 0" />
      <mass
        value="0.482255178647126" />
      <inertia
        ixx="0.00337597987714695"
        ixy="-2.46002607124036E-06"
        ixz="-5.5590771285105E-07"
        iyy="0.00408795872338614"
        iyz="-6.70940235769295E-05"
        izz="0.0010212774238884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis_sub.SLDASM/meshes/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chassis_sub.SLDASM/meshes/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="haa_joint"
    type="revolute">
    <origin
      xyz="-0.0758 -0.056 0.0285"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="body_link" />
    <child
      link="shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>