<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="body">
    <xacro:macro name="body" params="">
        <!-- Links -->
        <link name="base_link"/>
        <link name="body_link">
            <inertial>
                    <origin xyz="-0.000889242251136346 0.00065866860454622 0.0252390940732559" rpy="0 0 0" />
                    <mass value="0.482255179604208" />
                    <inertia ixx="0.000590030011142084" ixy="1.74833019226649E-07" ixz="1.21790430692212E-05"
                             iyy="0.000652273135047948" iyz="5.42047268018053E-08" izz="0.000968313234449169" />
                </inertial>
                <visual>
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="package://bot_description/meshes/body_link.STL" />
                    </geometry>
                    <material name="">
                        <color rgba="0.38 0.20 0.08 1" />
                    </material>
                </visual>
                <collision>
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="package://bot_description/meshes/body_link.STL" />
                    </geometry>
                </collision>
        </link>

        <!-- Joints -->
        <joint name="base_to_body" type="fixed">
            <parent link="base_link"/>
            <child link="body_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
    </xacro:macro>
</robot>
