<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="limb">
    <!-- Joint limits loaded from YAML -->
    <xacro:property name="limits"
                    value="${xacro.load_yaml('$(find bot_description)/config/joint_limits.yaml')}"/>

    <!-- Internal limb geometry + internal joints (hfe/kfe). -->
    <xacro:macro name="_limb_core" params="prefix inverted_shoulder">
        <!-- Links -->
        <link name="${prefix}shoulder_link">
            <inertial>
                <origin xyz="0.00189283967211911 -0.00149022104022392 0.0209651260942884" rpy="0 0 0" />
                <mass value="0.0772984767866564" />
                <inertia ixx="2.74184679471754E-05" ixy="-7.12325596084157E-08" ixz="1.19608410119039E-07"
                         iyy="2.07506136746851E-05" iyz="-2.5629423337733E-08" izz="3.03168099471715E-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <xacro:if value="${inverted_shoulder}">
                        <mesh filename="package://bot_description/meshes/inverted_shoulder_link.STL" scale="0.001 0.001 0.001"/>
                    </xacro:if>
                    <xacro:unless value="${inverted_shoulder}">
                        <mesh filename="package://bot_description/meshes/shoulder_link.STL" scale="1 1 1" />
                    </xacro:unless>
                </geometry>
                <material name="">
                    <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <xacro:if value="${inverted_shoulder}">
                        <mesh filename="package://bot_description/meshes/inverted_shoulder_link.STL" scale="0.001 0.001 0.001"/>
                    </xacro:if>
                    <xacro:unless value="${inverted_shoulder}">
                        <mesh filename="package://bot_description/meshes/shoulder_link.STL" scale="1 1 1"/>
                    </xacro:unless>
                </geometry>
            </collision>
        </link>
        <link name="${prefix}femur_link">
            <inertial>
                <origin xyz="0.0323249229136636 -9.62316571824495E-07 0.0265797029719004" rpy="0 0 0" />
                <mass value="0.0561441430721167" />
                <inertia ixx="7.25316608559317E-06" ixy="-2.79260011877617E-09" ixz="-1.19212807601372E-07"
                         iyy="4.40862958479968E-05" iyz="3.84318283091856E-10" izz="4.29206771962485E-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://bot_description/meshes/femur_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.545098039215686 0.615686274509804 0.858823529411765 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://bot_description/meshes/femur_link.STL" />
                </geometry>
            </collision>
        </link>
        <link name="${prefix}tibia_link">
            <inertial>
                <origin xyz="0.0288498831722294 -2.12695301857191E-07 -1.69859593279753E-07" rpy="0 0 0" />
                <mass value="0.012227756457296" />
                <inertia ixx="2.38144473002711E-07" ixy="4.86549409070109E-11" ixz="2.95033296846384E-11"
                         iyy="8.84429570059483E-06" iyz="-1.13332312820773E-11" izz="8.85815361606418E-06" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://bot_description/meshes/tibia_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.545098039215686 0.615686274509804 0.858823529411765 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://bot_description/meshes/tibia_link.STL" scale="1 1 1"/>
                </geometry>
            </collision>
        </link>

        <joint name="${prefix}hfe_joint" type="revolute">
            <origin xyz="0.0298000000000001 -0.0124999999999999 0.0214999999999999" rpy="-1.5707963267949 0 -1.5707963267949"/>
            <parent link="${prefix}shoulder_link"/>
            <child link="${prefix}femur_link"/>
            <axis xyz="0 0 1"/>
            <limit lower="${limits['hfe']['lower']}"
                   upper="${limits['hfe']['upper']}"
                   effort="${limits['hfe']['effort']}"
                   velocity="${limits['hfe']['velocity']}"/>
        </joint>

        <joint name="${prefix}kfe_joint" type="revolute">
            <origin xyz="0.0960572429044665 0 0.00999999999999993" rpy="-3.14159265358979 0 0"/>
            <parent link="${prefix}femur_link"/>
            <child link="${prefix}tibia_link"/>
            <axis xyz="0 0 -1"/>
            <limit lower="${limits['kfe']['lower']}"
                   upper="${limits['kfe']['upper']}"
                   effort="${limits['kfe']['effort']}"
                   velocity="${limits['kfe']['velocity']}"/>
        </joint>
    </xacro:macro>

    <!-- Public limb macro: owns full attachment to body, hiding internal limb construction. -->
    <xacro:macro name="limb" params="prefix x y z r p yw parent_link:=body_link inverted_shoulder">
        <xacro:_limb_core prefix="${prefix}_" inverted_shoulder="${inverted_shoulder}"/>
        <joint name="${prefix}_haa_joint" type="revolute">
            <parent link="${parent_link}"/>
            <child link="${prefix}_shoulder_link"/>
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${yw}"/>
            <axis xyz="0 0 -1"/>
            <limit lower="${limits['haa']['lower']}"
                   upper="${limits['haa']['upper']}"
                   effort="${limits['haa']['effort']}"
                   velocity="${limits['haa']['velocity']}"/>
        </joint>
    </xacro:macro>
</robot>
