<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="limb">
    <!-- Joint limits loaded from YAML -->
    <xacro:property name="limits"
                    value="${xacro.load_yaml('$(find bot_description)/config/joint_limits.yaml')}"/>

    <!-- Internal limb geometry + internal joints (hfe/kfe). -->
    <xacro:macro name="_limb_core" params="prefix mult">
        <!-- Links -->
        <link name="${prefix}shoulder_link">
            <inertial>
                <origin xyz="0.00156778084450622 0.00023011490355522 0.0188653348885318" rpy="0 0 0" />
                <mass value="0.0668523982562037" />
                <inertia ixx="2.59076494418216E-05" ixy="-7.12609209313921E-08" ixz="-3.38158087429427E-07"
                         iyy="1.53510229543711E-05" iyz="-2.56253037144619E-08" izz="2.5742400586002E-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://bot_description/meshes/shoulder_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://bot_description/meshes/shoulder_link.STL" scale="1 1 1"/>
                </geometry>
            </collision>
        </link>
        <link name="${prefix}femur_link">
            <inertial>
                <origin xyz="0.0273832027524642 -0.00204211137254596 0.0280691114483194" rpy="0 0 0" />
                <mass value="0.0660310589468222" />
                <inertia ixx="1.26372174256358E-05" ixy="-2.79354262209908E-09" ixz="-1.19244684545251E-07"
                         iyy="4.86450881022467E-05" iyz="-4.57382172664923E-07" izz="4.44007499741371E-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://bot_description/meshes/femur_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.545098039215686 0.615686274509804 0.858823529411765 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://bot_description/meshes/femur_link.STL" />
                </geometry>
            </collision>
        </link>
        <link name="${prefix}tibia_link">
            <inertial>
                <origin xyz="0.0288498831722294 -2.12695301857191E-07 -1.69859593279753E-07" rpy="0 0 0" />
                <mass value="0.012227756457296" />
                <inertia ixx="2.38144473002711E-07" ixy="4.86549409070109E-11" ixz="2.95033296846384E-11"
                         iyy="8.84429570059483E-06" iyz="-1.13332312820773E-11" izz="8.85815361606418E-06" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://bot_description/meshes/tibia_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.545098039215686 0.615686274509804 0.858823529411765 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://bot_description/meshes/tibia_link.STL" scale="1 1 1"/>
                </geometry>
            </collision>
        </link>

        <joint name="${prefix}hfe_joint" type="revolute">
            <origin xyz="0.0198 -0.0124999999999998 0.0215" rpy="-1.5707963267949 0.0843795007429648 -1.5707963267949"/>
            <parent link="${prefix}shoulder_link"/>
            <child link="${prefix}femur_link"/>
            <axis xyz="0 0 ${mult * 1}"/>
            <limit lower="${limits['hfe']['lower']}"
                   upper="${limits['hfe']['upper']}"
                   effort="${limits['hfe']['effort']}"
                   velocity="${limits['hfe']['velocity']}"/>
        </joint>

        <joint name="${prefix}kfe_joint" type="revolute">
            <origin xyz="0.096057287853238 0 0.0200000000000001" rpy="-3.14159265358979 0 -0.0843795007429648"/>
            <parent link="${prefix}femur_link"/>
            <child link="${prefix}tibia_link"/>
            <axis xyz="0 0 ${mult * -1}"/>
            <limit lower="${limits['kfe']['lower']}"
                   upper="${limits['kfe']['upper']}"
                   effort="${limits['kfe']['effort']}"
                   velocity="${limits['kfe']['velocity']}"/>
        </joint>
    </xacro:macro>

    <!-- Public limb macro: owns full attachment to body, hiding internal limb construction. -->
    <xacro:macro name="limb" params="prefix x y z r p yw mult parent_link:=body_link">
        <xacro:_limb_core prefix="${prefix}_" mult="${mult}"/>
        <joint name="${prefix}_haa_joint" type="revolute">
            <parent link="${parent_link}"/>
            <child link="${prefix}_shoulder_link"/>
            <origin xyz="${x} ${y} ${z}" rpy="${r} ${p} ${yw}"/>
            <axis xyz="0 0 ${mult * -1}"/>
            <limit lower="${limits['haa']['lower']}"
                   upper="${limits['haa']['upper']}"
                   effort="${limits['haa']['effort']}"
                   velocity="${limits['haa']['velocity']}"/>
        </joint>
    </xacro:macro>
</robot>
